@tailwind base;
@tailwind components;
@tailwind utilities;

button, input[type="submit"]{
    background-color: black;
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
}

input[type="text"], input[type="email"], input[type="password"]{
    border:1px solid #e5e7eb;
    padding: 0.5em;
    border-radius: 5px;
}